div{
    background-color: bisque;
    background-size: 300PX;
    background-image: url('desktop.png');
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif
    text-shadow: 5PX;
    padding: 10px;
    
}